  *{
    margin:0;
    padding:0;
    }
    header{
    width: 100%;
    height:60px;
    background-color:orange;
    padding:0 50px;
    }
     .logo{
    width:30%;
    float:left;
    color:#fff;
    font-weight:bold;
    text-transform:uppercase;
    line-height:60px;
    font-size:35px;
    font-family:sans-serif;
    }
  nav{
    width:70%;
    float:right;
    }
    nav ul{
      list-style:none ;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      z-index: 2;
  }
  nav ul li{
      width: 16%;
  }
  
  nav ul li > ul{
    display: none;
    flex-direction: column;
    z-index: 2;
}

  
  nav ul li > ul li{
      width: 100%;
      z-index: 2;
  }
  
  nav ul li:hover > ul{
      display: flex;
  }
  
  nav a{
      text-transform: uppercase;
      display: block;
      background-color: orange;
      padding: 15px;
      color: rgb(0, 0,0);
      text-decoration:none;
  }
  
  nav a:hover{
    background-color: orange;
    color: white;
}

    nav .drop-down li > a{
      background-color: orange;
      color: black;
    }

    nav .drop-down li> a:hover{
      color: white;
    }

    nav .drop-down> a:after{
      padding-left: 5px;
    }

    .checkbtn{
      font-size: 30px;
      color: white;
      float: right;
      line-height: 80px;
      margin-right: 20px;
      cursor: pointer;
      display: none;
    }
    #check{
      display: none;
    }
  .content{
    z-index: 1;
    padding:5%;
    font-size:18px;
    line-height:1.5;
    margin-bottom:400px;
    }
    .box{
      padding: 5%;
      width: 20%;
      background-color: rgb(0, 4, 255);
      color: white;
      margin: 10px ;
      float: left;
      text-align: center;
      display: block;
      position: relative;
    }
    .imp{
      background: linear-gradient(rgb(228, 228, 76),yellow,orange);
      text-align: center;
      font-weight: bold;
      padding: 5%;
    }
    .imp2{
      background: linear-gradient(#055a4f, #00c6ff);
      text-align: center;
      font-weight: bold;
      padding: 5%;
      text-transform: uppercase;
    }
    .parallelogram {
      width: 20%;
      height: 15%;
      transform: skew(15deg);
      background: rgb(0, 47, 255);
      margin: 10px ;
      float: left;
      text-align: center;
    }
    .oval {
      height: 15%;
      width: 20%;
      background-color: #555;
      border-radius: 50%;
    }
    .box-area{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .single-box{
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 1000px;
      height: auto;
      border-radius: 4px;
      color: black;
      text-align: right;
      margin: 20px;
      padding: 20px;
      transition: .3s;
    }
    .img-area{
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      width: auto;
      height: auto;
      border: 6px solid #fff;
      margin-bottom: 10px;
      padding: 20px;
      -webkit-background-size:cover;
      background-size: cover;
      background-position: center center;
    }
     .single-box:nth-child(1) .img-area{
      background-image: url(image/a.png);
    }
    .single-box:nth-child(2) .img-area{
      background-image: url(image/a.png);
    }
    .single-box:nth-child(3) .img-area{
      background-image: url(image/a.png);
    }
    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: black;
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: .5s ease;
    }
    
    .container:hover .overlay {
      height: 100%;
    }

    .box:hover .overlay {
      height: 100%;
    }
    
    .text {
      /*white-space: nowrap; */
      color: white;
      font-size: 15;
      position: absolute;
      overflow: hidden;
      top: 50%;
      left: 50%;
      text-transform: uppercase;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }

   .header-text{
      text-align: center;
      font-size: 30px;
      font-weight: 500;
      line-height: 48px;
    }
    .img-text{
      text-align: center;
      font-family: poppins;
      padding-top: 20px;
    }
    .img-text p{
      font-size: 25px;
      font-weight: 400;
      line-height: 30px;
    }

    .message{
      padding: 20%;
      background-color: #000;
      color: #fff;
    }
    .message h1{
      text-align: center;
    }
    /*.message p{
      text-align: right;
      justify-content: right;
    }
    .message img{
      float: left;
      align-items: left;
      justify-content: left;
    }*/
  #footer {
    clear: both;
    width: 100%;
    position: relative;
    height: auto;
    background-color:gray;
    color:white;
    text-align:center; 
    margin-top: -200px;
  }

  .note{
    width: 100%;
    height: 5%;
    background-color: grey;
    text-transform: uppercase;
  }


.column {
    float: left;
    width: 33.33%;
    text-align: center;
    padding: 5%;
  }

  .column2 {
    float: left;
    width: 50%;
    text-align: center;
    padding: 5%;
  }

  .imgrow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .imgcolumn {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .imgcolumn img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  marquee{
    position: absolute;
    z-index: 1;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .imgcolumn {
      flex: 50%;
      max-width: 50%;
    }
    .fonty{
      font-size: 7px;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 650px) {
    .imgcolumn {
      flex: 50%;
      max-width: 50%;
    }
    .fonty{
      font-size: 2em;
    }
  }
  
 
.row:after {
    content: "";
    display: table;
    clear: both;
  }
 
  @media (max-width: 952px){
    .logo{
      width: 100%;
    }
    nav{
      padding: 0 40px 0 50px;
    }
    nav ul li a{
      font-size: 15px;

    }
  }
  @media (max-width: 850px){
    *{
      font-size: 20px;
    }
    .checkbtn{
      display: block;
    }
    
    nav ul{
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(255, 166, 0, 0.850);
      left: -100%;
      text-align: center;
      display: block;
      transition: all .5s;
      z-index: 2;
      white-space: nowrap;
    }
    nav ul li, nav ul ul li{
      display: block;
      margin: 20px 0;
      line-height: 20px;
    }
    nav ul ul {
      position: static;
      width: 100%;
      height: 100vh;
      background: none;
      left: -100%;
      text-align: center;
      display: block;
      transition: all .5s;
      z-index: 2;
      white-space:normal;
    }
    nav ul li a{
      font-size: 20px;
      background: none;
    }

    nav .drop-down li > a{
      font-size: 20px;
      background: none;
    }
    
    nav a:hover,a.active{
      background: none;
      color: #fff;
    }
    #check:checked ~ ul{
      left: 0;
    }
    .column{
      padding: 5%;
      width: 100%;
      float: none;
      text-align: center;
    }
    .column2{
      padding: 5%;
      width: 100%;
      float: none;
      text-align: center;
    }
    .box{
     width: 100%;
     float: none;
    }
  }
